/* GetTeamNav */
.role_box {
    border-radius: var(--roundedJumbo);
    margin-inline: var(--spaceXXSM);
    height: 420px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkColor);
    transition: all 0.4s;
    margin-bottom: var(--spaceMD);
}
.role_detail_box {
    margin-inline: var(--spaceXXSM);
    height: 420px;
    width: 50vw;
    position: absolute;
    top:0;
    left: 25vw;
    color: black;
    transition: all 0.4s;
    transform: rotate(5deg);
    display: none;
}
.role_box:hover {
    transform: rotate(5deg);
    box-shadow: rgba(247, 138, 0, 1) 0px 7.5px 9px;
}
.role_title {
    font-size: var(--textJumbo);
    color: var(--whiteColor);
    font-weight: bold;
}
.role_body {
    font-size: var(--textXLG);
    color: var(--whiteColor);
    font-weight: 500;
    margin-top: var(--spaceMD);
}
.role_info {
    bottom: var(--spaceSM);
    left: var(--spaceLG);
    position: absolute;
    padding-right: var(--spaceSM);
}
.close_detail {
    position: absolute;
    top: var(--spaceMini);
    left: calc(var(--spaceJumbo) * -2.5);
    background: var(--warningBG);
    border: none;
    color: var(--whiteColor);
    padding: var(--spaceMD) var(--spaceLG);
    border-radius: var(--roundedXLG);
    font-size: var(--textXLG);
}

/* getFeature */
.feature_box {
    border-radius: var(--roundedJumbo);
    height: 360px;
    background: var(--whiteColor);
    transition: all 0.4s;
    margin-inline: var(--spaceMD);
    margin-bottom: var(--spaceLG);
    padding: var(--spaceLG);
    border: 2px solid var(--primaryColor);
}
.feature_box:hover {
    transform: scale(1.05);
    box-shadow: rgba(247, 138, 0, 1) 0px 7.5px 9px;
}
.feature_box .feature_title {
    color: var(--primaryColor);
    font-weight: 500;
}
.contact_btn {
    color: var(--darkColor);
    border: none;
    background: none;
    border-radius: 0;
    font-size: var(--textJumbo);
    margin-right: var(--spaceXMD);
}

/* getGallery */
.gallery_box {
    border-radius: var(--roundedJumbo);
    height: 260px;
    width: 95%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--darkColor);
    transition: all 0.4s;
    margin-bottom: var(--spaceMD);
}

/* GetNavTab */
.btn_nav {
    width: 100%;
    border-radius: var(--roundedSM);
    padding: var(--spaceXMD) var(--spaceMD);
    border: none;
    background: linear-gradient(to right, var(--blackColor) , var(--primaryColor));
    color: var(--whiteColor);
    transition: all 0.4s;
    font-weight: 500;
    font-size: var(--textXLG);
    margin-bottom: var(--spaceXMD);
}
.btn_nav:hover {
    box-shadow: rgba(247, 138, 0, 1) 0px 7.5px 9px;
}
.nav_btn_holder {
   position: sticky;
   top: var(--spaceLG);
}
.nav_section {
    padding-bottom: var(--spaceJumbo);
    margin-bottom: var(--spaceJumbo);
    border-bottom: 2px solid var(--primaryColor);
}
.nav_section header {
    font-weight: bold;
    font-size: calc(var(--textXJumbo) - var(--textXSM));
}