:root {   
    /* Typography */
    --textHuge : 78px;
    --textXJumbo : 48px;
    --textJumbo : 26px;
    --textXLG : 18px;
    --textLG : 16px;
    --textXMD : 14px;
    --textMD : 13px;
    --textSM : 12px;
    --textXSM : 11px;

    /* Rounded */
    --roundedCircle : 100%;
    --roundedJumbo : 30px;
    --roundedXLG : 20px;
    --roundedLG : 18px;
    --roundedMD : 14px;
    --roundedSM : 10px;
    --roundedMini : 6px;

    /* Spacing */
    --spaceJumbo : 35px;
    --spaceXLG : 24px;
    --spaceLG : 20px;
    --spaceXMD : 16px;
    --spaceMD : 12px;
    --spaceSM : 10px;
    --spaceXSM : 8px;
    --spaceXXSM : 6px;
    --spaceMini : 4px;

    /* Table column min width */
    --tcolMinXSM : 60px;
    --tcolMinSM : 120px;
    --tcolMinMD : 140px;
    --tcolMinLG : 180px;
    --tcolMinJumbo : 240px;
    --tcolMinHuge : 360px;

    /* Color Pallete */
    --primaryLightBG : #FADFB9;
    --successBG : #00C363;
    --successDarkBG : #00b35a;
    --warningBG : #F85D59;
    --warningDarkBG : #D5534C;
    --infoBG : #009FF9;
    --infoLightBG : #E7F4FE;
    --hoverBG : #F2F2F2;

    --primaryColor : #F78A00;
    --blackColor : #212121;
    --darkColor : #5B5B5B;
    --whiteColor : #FFFFFF;
    --greyColor : #C3C3C3;
    --shadowColor : #808080;

    --calendarItem : #85DEF3;
    --importantItem : #FCC4C4;
    --semiPrimary : #FFF1DF;
}

/* SmoothLayout */
.grid-item {
    padding: var(--spaceXSM);
}
.grid-item img, .grid-item div {
    border-radius: var(--roundedMD);
    cursor: pointer;
}

/* Code snippet */
.cm-editor {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
    border-radius: var(--roundedMD);
}
.cm-gutters {
    border-top-left-radius: var(--roundedMD);
    border-bottom-left-radius: var(--roundedMD);
}