/* Page */
.body {
    background: var(--whiteColor);
}
.main_title {
    margin-top: var(--spaceXLG);
    text-align: center;
}

/* getToggleEnv */
.toggle_box {
    height: 100vh;
    width: 100vw;
    text-align: center !important;
    position: relative;
}
.sec {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.sec_title {
    font-size: var(--textHuge);
    color: var(--whiteColor);
    font-weight: bold;
}
.sec_subtitle {
    font-size: calc(var(--textHuge) * 0.65);
    color: var(--whiteColor);
    font-weight: 500;
}
.sec_body {
    font-size: var(--textXLG);
    color: var(--whiteColor);
    font-weight: 500;
    margin-top: var(--spaceMD);
}
.sec_btn {
    padding: var(--spaceMD);
    border: 2px solid var(--whiteColor);
    background: transparent;
    color: var(--whiteColor);
    border-radius: var(--roundedJumbo);
    margin-right: var(--spaceMD);
    margin-top: var(--spaceMD);
}
.sec_detail {
    display: none;
}

.asec, .bsec {
    padding: var(--spaceLG);
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.asec:hover  {
    background: #fa9f27;
}
.bsec:hover {
    background: #36b2f9;
}
.asec:hover ~ .sec{
    grid-template-columns: 3fr 1fr; 
}
.bsec:hover ~ .sec {
    grid-template-columns: 1fr 3fr; 
}
.asec {
    text-align: start;
    background: var(--primaryColor);
}
.bsec {
    text-align: end;
    background: var(--infoBG);
}

.env_logo {
    border: 2.5px solid var(--whiteColor);
    display: inline-block;
    color: var(--whiteColor);
    border-radius: var(--roundedCircle);
    padding: var(--spaceSM) var(--spaceMD);
}
.main_img {
    margin-inline: auto;
    display: block;
    height: 30vh;
}

/* GetTeamNav */
.role {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(5, 1fr);
    width: 75%;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

/* getFeature */
.feature {
    text-align: center;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}

/* GetGalleries */
.gallery {
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
}